body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: blue;
    transition: 5s;
    width: 150px;
    height: 150px ;

}

div:hover{
    transform:rotate(2880deg)  translate(300px) scale(0.3);
    border-radius: 50%;
    background-color: black;
}  