body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

div{
    background-color: hsl(0, 0%, 12%);
    height: 540px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    margin-top: 20px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;   
}

button{
    width: 300px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 7px;
    border: none;
    background: hsl(0, 0%, 20%);
    color: white;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
}


#p1{
    color: white;
    font-size: x-large;
}


#p2{
    color: hsl(75, 94%, 57%);
    margin-top: 0%;
}


#p3{
    color: hsl(0, 3%, 74%);
}