body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square{
   width:350px;
   height: 350px;
   background-color: red; 
   transition: 0.5s;
   font-size: 40px;
   cursor: pointer;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLM2O_48FdeYXKKVbX-GQ-4v_8kJ3ctVlWAA&s);
   background-size: cover;
   background-position: center;
   transform:scale(0.5)
}
.square:hover{
    transform: scale(8);


}
