@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    display: flex;
    padding: 11.14px 100.23px 11.14px 100.23px;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap:40px;
    font-size: 11.14px;
    font-weight: 500;
}

.navbar{
    display: flex;
    gap:40px;
    align-items: center;

}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   

    
    
}

.navbar button{
   color:white;
   border: none;
   border-radius: 2.78px;
   padding: 9.74px 22.27px 9.74px;
   display: flex;
   align-items: center;
   font-weight: 500;
   font-size: 11.14px;
   gap:5.57;
   background-color: #4CAF4F;
}

.hero{
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:72.99px;
    position: relative;
}

.hero img{
    width: 272.16px;
    height: 283.3px;
 
}




.hero-text h1{
    font-size:44.55px;
    font-weight: 600;
    color:#4D4D4D;
    line-height: 52.9px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    gap:11.14px;
}

.hero-text p{
    font-size:11.14px;
    font-weight: 400;
    color:#717171;
    line-height: 16.71px;
}

.hero-text span{
    color:#4CAF4F;

}

.hero-text button{
    background-color: #4CAF4F;
    border: none;
    border-radius: 2.78px;
    padding: 9.74px 22.27px 9.74px 22.27px;
    color:white;
    font-size: 11.14px;
    font-weight: 500;
    line-height: 16.71px;
    margin-top: 10px;
    cursor: pointer;
}

.ball{
    display:flex;
    gap:5.57px;
    position: absolute;
    bottom:10px;
    right: 50%;


    
    
}

.ball div{
    width: 6.96px;
    height: 6.96px;
    background-color: #4CAF4F;
    border-radius: 50%;
}
